language: generic

services:
  - docker

script:
  - docker build -t udagram-api-feed ./udagram-api-feed
  - docker tag udagram-api-feed johnnkanu/udagram-api-feed:latest

after_success:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - docker push johnnkanu/udagram-api-feed

script:
  - docker build -t udagram-api-user ./udagram-api-user
  - docker tag udagram-api-user johnnkanu/udagram-api-user:latest

after_success:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - docker push johnnkanu/udagram-api-user

script:
  - docker build -t udagram-frontend ./udagram-frontend
  - docker tag udagram-frontend johnnkanu/udagram-frontend:latest

after_success:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - docker push johnnkanu/udagram-frontend


script:
  - docker build -t reverseproxy ./reverseproxy
  - docker tag reverseproxy johnnkanu/reverseproxy:latest

after_success:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - docker push johnnkanu/reverseproxy
