language: generic

services:
  - docker
  
script:
  - docker build -t udagram-api-feed ./udagram-api-feed
  - docker tag udagram-api-feed johnnkanu/udagram-api-feed:latest

after_success:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - docker push johnnkanu/udagram-api-feed

